html, body{
  background: #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
}

.pref-switch{
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 20px;
  color: #fff;
}

.set-icon{
  transition: 1s;
}

.set-ico:hover{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
          transition: 1s;
}

h2{
  font-size: 35px;
  margin-top: 30px;
  text-align: center;
  color: #9cb3c9;
  font-family: 'Baloo Tamma', cursive;
}

.timer-block{
  margin-top: 50px;
  font-size: 35px;
  color: #f00;
}

h1{
  text-align: center;
}

h4{
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: normal;
  color: rgba(224, 225, 226, 0.6);
}

.modal{
  width: 80%;
  height: 240px;
  border-radius: 20px;
  z-index: 1;
  display: none;
  position: fixed;
  top: 50px;
  margin-left: 10%;
  background: rgba(66, 188, 244, 0.98);
}

.animate {
    animation: zoom 0.9s
}
@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

h5{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
  color: #fff;
}

h6{
  text-align: center;
  color: #fff;
}

.ip-label{
  font-size: 20px;
  font-weight: 300;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
